@font-face {
  font-family: 'Martel-bold';
  src: local('Martel-bold'), url('./assets/fonts/Martel-Bold.ttf') format('trueType');
}




::-webkit-scrollbar {
    width: 0px;
     /* make scrollbar transparent */
}

h1 {
  font-family: 'Martel-bold';
  color: #474843;
  width: 60%;
  text-align: center;
  font-size: 36px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: 'Martel-regular';
  width: 60%;
  text-align: center;
  font-size: 22px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

h3 {
  font-family: 'Martel-regular';
  text-align: end;
  font-size: 22px;
  letter-spacing: 0.1em;
  margin-right: 50px;
}

.forestBg {
  background-image: url('./assets/images/forest-bg.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  opacity: 80%;
  background-position: center;
}

.container, .container-full {
  display: flex;
  position: relative;
  justify-content: center;
}

.container-full {
  width: 100%;
}

.sliderrrr {
  height: 500px;
  width: 100%;
}

.cardContainer {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.cardContainerInner {
  width: 50%;
  height: 500px;
  display: flex;
  justify-content: center;
}

.buildingBg {
  background-image: url('./assets/images/woman-building.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  opacity: 35%;
  background-position: center;
}

.headerText {
  position: absolute;
  margin-top: 5%;
}

h4 {
  font-family: 'Martel-bold';
  width: 100%;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0.1em;
  position: absolute;
  color: #FFFFFF;
}

.show-on-mobile, .show-on-desktop {
  display: none;
  justify-content:center;
  align-items:center;
  height: 100%;
}

@media (max-width: 800px) {
  .headerText {
    margin-top: 25%;
    border-radius: 10px;
  }
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 18px;
    width: 70%;
  }
  h3 {
    font-size: 12px;
  }
  .cardContainerInner {
    height: 350px;
    width: 250px;
  }
  .show-on-mobile {
    display: flex;
  }
}

@media (min-width: 800px) {
  .show-on-desktop {
    display: flex;
  }
}

/* @media  ()  {
  
} */

@media (min-width: 800px) and (max-width: 1300px) {
  .cardContainerInner {
    height: 320px;
    width: 200px;
  }
  .sliderrrr {
    height: 350px;
  }
}

@media (min-width: 1300px) and (max-width: 2000px) {
  .cardContainerInner {
    height: 380px;
    width: 300px;
  }
  .sliderrrr {
    height: 350px;
  }
}

/* @media (max-width: 1000px) {
      h3 {
        font-size: 1px;
        color: blue
      }
      h1 {
        font-size: 1px;
        color: blue
      }
      h4  {
        font-size: 1px;
      }
      .sliderrr {
        height: 100px;
        background: blue;
      }
    } */