@font-face {
  font-family: 'Martel-bold';
  src: local('Martel-bold'), url('./assets/fonts/Martel-Bold.ttf') format('trueType');
}

@font-face {
  font-family: 'Martel-regular';
  src: local('Martel-regular'), url('./assets/fonts/Martel-Regular.ttf') format('trueType')
}

h1 {
  font-family: 'Martel-bold';
  color: #474843;
  width: 60%;
  text-align: center;
  font-size: 36px;
  letter-spacing: 0.1em;
}

.container, .container-full {
  display: flex;
  position: relative;
  justify-content: center;
}

.container-full {
  width: 100%;
}

h2 {
  font-family: 'Martel-regular';
  width: 60%;
  text-align: center;
  font-size: 22px;
  letter-spacing: 0.1em;
}

.jk  {
  position: absolute;
}

.forestBg {
  background-image: url('./assets/images/forest-bg.jpg');
  width: 100%;
  height: 100vh;
  object-fit: fill;
  opacity: 80%;
}