@font-face {
  font-family: 'Martel-bold';
  src: local('Martel-bold'), url('./assets/fonts/Martel-Bold.ttf') format('trueType');
}

@font-face {
  font-family: 'Martel-regular';
  src: local('Martel-regular'), url('./assets/fonts/Martel-Regular.ttf') format('trueType')
}

h1 {
  font-family: 'Martel-bold';
  color: #474843;
  width: 60%;
  text-align: center;
  font-size: 36px;
  letter-spacing: 0.1em;

}

.container, .container-full {
  display: flex;
  position: relative;
  justify-content: center;
}

.container-full {
  width: 100%;
}

.gradient {
  background: linear-gradient(180deg, rgba(220, 36, 36, 0) 0%, #000000 100%);
  position: absolute;
}

h2 {
  font-family: 'Martel-regular';
  width: 60%;
  text-align: center;
  font-size: 22px;
  letter-spacing: 0.1em;
}


